#nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#nav a{
    margin-right: 10px;
}

#nav a.top-image{
    height: 20px;
    width: 20px;
    background: crimson;
    border-radius: 10px;
}

#middle{
    margin-top: 50px;
    
}

#logo{
    text-align: center;
}



